<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.ClassLibrary.Properties.Settings.DBMANTENIMIENTOConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBMANTENIMIENTO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.ClassLibrary.Properties.Settings.DBMATRICULAConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBMATRICULA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>